<h3>Create A Blog Post</h3>
<a href="/">Home</a>
<form action="/create" method="POST">
  <input type="text" name="title" placeholder="Title">
  <!-- <input type="date" name="date" placeholder="date created"> -->
  <input type="text" name="category" placeholder="Category">
  <button type="submit">Create Post</button>
</form>
