<h1>Profile</h1>

{{#each author}}
  <h3><a href="/{{this.id}}">{{this.first_name}}</a></h3>
  <p>{{this.email}}</p>
  <img class='profpic' src={{this.image_url}}>
{{/each}}
<p>
  <a href="/create">Create A Post</a>
  <a href="/post">View Posts</a>
</p>
