<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><h1 class ='header'>Random Blog</h1></header>
    <nav>
      <a href="/create">Create A Post</a>
      <a href="/post">View Posts</a>
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer>Created in Denver, CO</footer>
  </body>
</html>
